# Contents List

- 0.1 Importing


- 0.2 Directions task(s) 3-7

# 0.1 Importing

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing datafrmae
path = r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Acheivemtent 4/Instacart Basket Analysis *Master Folder*'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

# 0.2 Directions task(s) 3-7

In [5]:
# step 3
df_orders_products_combined = pd.read_pickle(r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Acheivemtent 4/Instacart Basket Analysis *Master Folder*/02 Data/Prepared Data/orders_products_combined.pkl')

In [6]:
# step 4
df_orders_products_combined.shape

(32640698, 13)

In [7]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [8]:
df_prods = pd.read_csv(r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Acheivemtent 4/Instacart Basket Analysis *Master Folder*/02 Data/Prepared Data/products_cleaned.csv', index_col = False)

In [9]:
df_prods.shape

(49672, 6)

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_products = df_prods.drop(columns = ['Unnamed: 0',])

In [12]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# step 5
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge','Unnamed: 0'])

In [14]:
orders_products_merged = df_orders_products_combined_1.merge(df_products, on = ['product_id'], how = 'left',indicator = True)

In [15]:
orders_products_merged.shape

(32641268, 16)

In [16]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [17]:
# step 6
orders_products_merged['_merge'].value_counts()

both          32404859
left_only       236409
right_only           0
Name: _merge, dtype: int64

In [18]:
orders_products_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [19]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [20]:
orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641268 entries, 0 to 32641267
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   first_order             bool
 8   product_id              float64
 9   add_to_cart_order       float64
 10  reordered               float64
 11  product_name            object
 12  aisle_id                float64
 13  department_id           float64
 14  prices                  float64
 15  _merge                  category
dtypes: bool(1), category(1), float64(7), int64(5), object(2)
memory usage: 3.7+ GB