# Contents List

- 0.1 Importing


- 0.2 Exercise Examples


- 0.3 Directions task(s) 2-7

# 0.1 Importing

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing datafrmae
path = r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Acheivemtent 4/Instacart Basket Analysis *Master Folder*'

In [3]:
orders_products_merged_4_7 = pd.read_pickle(r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Acheivemtent 4/Instacart Basket Analysis *Master Folder*/02 Data/Prepared Data/orders_products_merged_4_7.pkl')

# 0.2 Exercise Examples

In [4]:
# Create a subset
df = orders_products_merged_4_7[:1000000]

In [5]:
df.shape

(1000000, 20)

In [6]:
orders_products_merged_4_7.shape

(32641268, 20)

In [7]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders
5,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders
6,2398795,1,prior,2,3,7,15.0,False,10258.0,2.0,0.0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders
7,2398795,1,prior,2,3,7,15.0,False,12427.0,3.0,1.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders
8,2398795,1,prior,2,3,7,15.0,False,13176.0,4.0,0.0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders
9,2398795,1,prior,2,3,7,15.0,False,26088.0,5.0,1.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders

In [8]:
df.groupby('product_name')

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.794925
2.0              17.085793
3.0              17.892742
4.0              17.880137
5.0              15.108513
6.0              15.352869
7.0              17.682741
8.0              16.496386
9.0              15.944846
10.0             20.104831
11.0             16.483104
12.0             15.614125
13.0             16.458631
14.0             17.523399
15.0             15.673392
16.0             18.012021
17.0             15.842139
18.0             19.349156
19.0             17.625805
20.0             17.113240
21.0             22.009038

In [10]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.794925
2.0     17.085793
3.0     17.892742
4.0     17.880137
5.0     15.108513
6.0     15.352869
7.0     17.682741
8.0     16.496386
9.0     15.944846
10.0    20.104831
11.0    16.483104
12.0    15.614125
13.0    16.458631
14.0    17.523399
15.0    15.673392
16.0    18.012021
17.0    15.842139
18.0    19.349156
19.0    17.625805
20.0    17.113240
21.0    22.009038
Name: order_number, dtype: float64

In [11]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.794925   1  99
2.0              17.085793   1  98
3.0              17.892742   1  99
4.0              17.880137   1  99
5.0              15.108513   1  99
6.0              15.352869   1  99
7.0              17.682741   1  99
8.0              16.496386   1  91
9.0              15.944846   1  99
10.0             20.104831   1  99
11.0             16.483104   1  99
12.0             15.614125   1  99
13.0             16.458631   1  99
14.0             17.523399   1  99
15.0             15.673392   1  99
16.0             18.012021   1  99
17.0             15.842139   1  99
18.0             19.349156   1  99
19.0             17.625805   1  99
20.0             17.113240   1  99
21.0             22.009038   1  97

In [12]:
orders_products_merged_4_7['max_order'] = orders_products_merged_4_7.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
orders_products_merged_4_7.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
5,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,11
6,2398795,1,prior,2,3,7,15.0,False,10258.0,2.0,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
7,2398795,1,prior,2,3,7,15.0,False,12427.0,3.0,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
8,2398795,1,prior,2,3,7,15.0,False,13176.0,4.0,...,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,11
9,2398795,1,prior,2,3,7,15.0,False,26088.0,5.0,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
10,2398795,1,prior,2,3,7,15.0,False,13032.0,6.0,...,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
11,473747,1,prior,3,3,12,21.0,False,196.0,1.0,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,11
12,473747,1,prior,3,3,12,21.0,False,12427.0,2.0,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
13,473747,1,prior,3,3,12,21.0,False,10258.0,3.0,...,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Slowest_days,Most_orders,11
14,473747,1,prior,3,3,12,21.0,False,25133.0,4.0,...,Organic String Cheese,21.0,16.0,8.6,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,11

In [14]:
orders_products_merged_4_7.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,11
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,...,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.0,False,9681.0,12.0,...,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders,15
96,738281,2,prior,4,2,10,8.0,False,21150.0,13.0,...,Fire Grilled Steak Bowl,38.0,1.0,5.9,both,Mid-range product,Regularly busy,Regularly busy,Average_orders,15
97,1673511,2,prior,5,3,11,8.0,False,47144.0,1.0,...,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,both,Mid-range product,Regularly busy,Slowest_days,Most_orders,15
98,1673511,2,prior,5,3,11,8.0,False,5322.0,2.0,...,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,both,Low-range product,Regularly busy,Slowest_days,Most_orders,15
99,1673511,2,prior,5,3,11,8.0,False,17224.0,3.0,...,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,both,Low-range product,Regularly busy,Slowest_days,Most_orders,15

In [15]:
pd.options.display.max_rows = None

In [16]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
orders_products_merged_4_7.loc[(orders_products_merged_4_7['max_order'] <= 40) & (orders_products_merged_4_7['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
orders_products_merged_4_7['loyalty_flag'].value_counts(dropna = False)

Regular customer    16381472
Loyal customer      10679578
New customer         5580218
Name: loyalty_flag, dtype: int64

In [20]:
orders_products_merged_4_7[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1  Regular customer             1
1         1  Regular customer             1
2         1  Regular customer             1
3         1  Regular customer             1
4         1  Regular customer             1
5         1  Regular customer             2
6         1  Regular customer             2
7         1  Regular customer             2
8         1  Regular customer             2
9         1  Regular customer             2
10        1  Regular customer             2
11        1  Regular customer             3
12        1  Regular customer             3
13        1  Regular customer             3
14        1  Regular customer             3
15        1  Regular customer             3
16        1  Regular customer             4
17        1  Regular customer             4
18        1  Regular customer             4
19        1  Regular customer             4
20        1  Regular customer             4
21        1  Regular customer             5
22        1  Regular customer             5
23        1  Regular customer             5
24        1  Regular customer             5
25        1  Regular customer             5
26        1  Regular customer             5
27        1  Regular customer             5
28        1  Regular customer             5
29        1  Regular customer             6
30        1  Regular customer             6
31        1  Regular customer             6
32        1  Regular customer             6
33        1  Regular customer             7
34        1  Regular customer             7
35        1  Regular customer             7
36        1  Regular customer             7
37        1  Regular customer             7
38        1  Regular customer             8
39        1  Regular customer             8
40        1  Regular customer             8
41        1  Regular customer             8
42        1  Regular customer             8
43        1  Regular customer             8
44        1  Regular customer             9
45        1  Regular customer             9
46        1  Regular customer             9
47        1  Regular customer             9
48        1  Regular customer             9
49        1  Regular customer             9
50        1  Regular customer            10
51        1  Regular customer            10
52        1  Regular customer            10
53        1  Regular customer            10
54        1  Regular customer            10
55        1  Regular customer            10
56        1  Regular customer            10
57        1  Regular customer            10
58        1  Regular customer            10
59        1  Regular customer            11

# 0.3 Directions task(s) 2-7

In [21]:
# step 2
orders_products_merged_4_7.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [22]:
# step 3
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.794925
2.0              17.085793
3.0              17.892742
4.0              17.880137
5.0              15.108513
6.0              15.352869
7.0              17.682741
8.0              16.496386
9.0              15.944846
10.0             20.104831
11.0             16.483104
12.0             15.614125
13.0             16.458631
14.0             17.523399
15.0             15.673392
16.0             18.012021
17.0             15.842139
18.0             19.349156
19.0             17.625805
20.0             17.113240
21.0             22.009038

### step 3b
While the two results are not one to one and they generally exist within the same range so in my opinion it's fair to say that they are relatively similar in terms of output.

### step 4
See answers above.

In [24]:
# step 5
orders_products_merged_4_7.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.377144  1.0  99999.0
New customer      13.208437  1.0  99999.0
Regular customer  12.616225  1.0  99999.0

### step 5b

In [25]:
# step 6
orders_products_merged_4_7.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head(5)

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8

In [27]:
orders_products_merged_4_7['spending'] = orders_products_merged_4_7.groupby(['user_id'])['prices'].transform(np.mean)

In [29]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['spending'] < 10, 'spending_flag'] = 'Low Spender'

In [30]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['spending'] >= 10, 'spending_flag'] = 'High Spender'

In [31]:
orders_products_merged_4_7[['user_id', 'spending_flag', 'spending']].head(10)

   user_id spending_flag  spending
0        1   Low Spender  6.367797
1        1   Low Spender  6.367797
2        1   Low Spender  6.367797
3        1   Low Spender  6.367797
4        1   Low Spender  6.367797
5        1   Low Spender  6.367797
6        1   Low Spender  6.367797
7        1   Low Spender  6.367797
8        1   Low Spender  6.367797
9        1   Low Spender  6.367797

In [32]:
# step 7
orders_products_merged_4_7['frequency'] = orders_products_merged_4_7.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [33]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [34]:
orders_products_merged_4_7.loc[(orders_products_merged_4_7['frequency'] <= 20) & (orders_products_merged_4_7['frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [35]:
orders_products_merged_4_7.loc[orders_products_merged_4_7['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [36]:
orders_products_merged_4_7[['user_id', 'frequency', 'frequency_flag']].head(10)

   user_id  frequency    frequency_flag
0        1       20.0  Regular customer
1        1       20.0  Regular customer
2        1       20.0  Regular customer
3        1       20.0  Regular customer
4        1       20.0  Regular customer
5        1       20.0  Regular customer
6        1       20.0  Regular customer
7        1       20.0  Regular customer
8        1       20.0  Regular customer
9        1       20.0  Regular customer

In [37]:
orders_products_merged_4_7.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4_8.pkl'))